<!DOCTYPE html>
<html lang="es">      
<head>
            
        <meta charset="utf-8">

        <meta name="description" content="Somos EJEZ, damos servicios a las empresas del area cuya estructura interna se ve superada por el volumen de trabajo">

                <!-- Primary Meta Tags -->
<title>Meta Tags — Preview, Edit and Generate</title>
<meta name="title" content="Meta Tags — Preview, Edit and Generate">
<meta name="description" content="With Meta Tags you can edit and experiment with your content then preview how your webpage will look on Google, Facebook, Twitter and more!">

<!-- Open Graph / Facebook -->
<meta property="og:type" content="website">
<meta property="og:url" content="https://metatags.io/">
<meta property="og:title" content="Meta Tags — Preview, Edit and Generate">
<meta property="og:description" content="With Meta Tags you can edit and experiment with your content then preview how your webpage will look on Google, Facebook, Twitter and more!">
<meta property="og:image" content="https://metatags.io/assets/meta-tags-16a33a6a8531e519cc0936fbba0ad904e52d35f34a46c97a2c9f6f7dd7d336f2.png">

<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image">
<meta property="twitter:url" content="https://metatags.io/">
<meta property="twitter:title" content="Meta Tags — Preview, Edit and Generate">
<meta property="twitter:description" content="With Meta Tags you can edit and experiment with your content then preview how your webpage will look on Google, Facebook, Twitter and more!">
<meta property="twitter:image" content="https://metatags.io/assets/meta-tags-16a33a6a8531e519cc0936fbba0ad904e52d35f34a46c97a2c9f6f7dd7d336f2.png">

        <title>contactanos</title>   
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
  
        <link rel="stylesheet" href="../../scss/estilos.css">  
        <link href="https://fonts.googleapis.com/css2?family=Quicksand&display=swap" rel="stylesheet"> </head>   
</head>
<body id=colorFondo>

    <header>   
        <div class="container">
        
            <nav class="navbar navbar-expand-lg navbar-light bg-light  bg-transparent menu" >
                    <a class="navbar-brand" href="#">
                        <img src="../../Imagenes/LOGO PERFIL FINAL2.png" width="150" height="150" class="d-inline-block align-top" alt="" loading="lazy">     
                    </a>    
                   
                  
                 
                  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                  </button>
                
                    <div class="collapse navbar-collapse" id="navbarText">
                    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                      <li class="nav-item active">
                        <a class="nav-link" href="../index.html">INICIO <span class="sr-only">(current)</span></a>
                      </li>
        
                      <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="proyectos.html" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          PROYECTOS
                        </a>
                        <div class="dropdown-menu " aria-labelledby="navbarDropdown">
                          <a class="dropdown-item subMenu" href="proyectos.html">Vivienda Pilar</a>
                          <a class="dropdown-item subMmenu" href="proyectos.html">Espacio SUM</a>
                          <a class="dropdown-item subMenu" href="proyectos.html">Diseño interior</a>
                          <a class="dropdown-item subMenu" href="proyectos.html">Centro de convenciones</a>
                        </div>
                      </li>
        
                      <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="servicios.html" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        SERVICIOS
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                          <a class="dropdown-item" href="servicios.html">2 Dimensiones</a>
                          <a class="dropdown-item" href="servicios.html">Postproducción</a>
                          <a class="dropdown-item" href="servicios.html">3 Dimensiones</a>
                          <a class="dropdown-item" href="servicios.html">Ejecución</a>
                        </div>
                      </li>
        
                      <li class="nav-item">
                        <a class="nav-link" href="historia.html">NOSOTROS</a>
                      </li>
        
                      <li class="nav-item">
                        <a class="nav-link" href="contactos.html">CONTACTANOS</a>
                      </li>
        
                    </ul>
        
                    <form class="form-inline my-2 my-lg-0">
                      <input class="form-control mr-sm-2 menu" type="search" placeholder="Search">
                      <button class="btn btn-outline-success my-2 my-sm-0 busqueda" type="submit">Búsqueda</button>
                    </form>
                  </div>
                
            </nav>
        </div>
        </header>    
         
            <div class="redes">  

                <h3>¿Dónde estamos?</h3>                                                                                                                            
                <h5>IG: @ejezestudio</h5> 
                <h5>FB: @ejezestudio</h5> 
                <h5>MAIL: ejezetaestudio@gmail.com</h5>
                <h5>UBICACIÓN: Palermo, Ciudad Autonoma de Buenos Aires</h5>
            </div>

        
            <div class="formulario">
                <h4>Contactanos</h4>
            <form>
                <div class="form-group row">
                  <label for="inputEmail3" class="col-sm-3 col-form-label">Tu nombre</label>
                  <div class="col-sm-10">
                    <input type="email" class="form-control" id="inputEmail3" placeholder="Nombre">
                  </div>
                </div>

                <div class="form-group row">
                  <label for="inputPassword3" class="col-sm-3 col-form-label">Teléfono</label>
                  <div class="col-sm-10">
                    <input type="password" class="form-control" id="inputPassword3" placeholder="Telefono">
                </div>

                <div class="form-group row">
                <label for="inputPassword3" class="col-sm-3 col-form-label">Mail</label>
                <div class="col-sm-10">
                    <input type="password" class="form-control" id="inputPassword3" placeholder="Mail">
                </div>
                </div>


                <fieldset class="form-group">
                  <div class="row">
                    <legend class="col-form-label col-sm-5 pt-0">Contanos sobre vos</legend>
                    <div class="col-sm-5">
                      <div class="form-check">
                        <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios1" value="option1" checked>
                        <label class="form-check-label" for="gridRadios1">
                          Soy empresa constructora
                        </label>
                      </div>
                      <div class="form-check">
                        <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios2" value="option2">
                        <label class="form-check-label" for="gridRadios2">
                          Soy un estudio de arquitectura
                        </label>
                      </div>
                      <div class="form-check disabled">
                        <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios3" value="option3" disabled>
                        <label class="form-check-label" for="gridRadios3">
                          Soy un particular
                        </label>
                      </div>
                    </div>
                  </div>
                </fieldset>

             
                  </div>
                </div>
                <div class="form-group row">
                  <div class="col-sm-6">
                    <button type="submit" class="btn btn-primary">Enviar </button>
                  </div>
                  <div class="col-sm-6">
                    <button type="submit" class="btn btn-primary">Limpiar </button>
                  </div>
                </div>
              </form> 
          </div>
          
          
          
          
          
           
          <footer class="footer">
            <div class="container text-white bg-transparent">
           
            <div class="row">
            <div class="col-md-4 col-lg-6">
              <a href="https://www.instagram.com/ejezestudio/" >
                <i class="fab fa-instagram fa-lg white-text mr-md-5 mr-3 fa-2x icono"> </i>
          
              <a href="https://www.facebook.com/ejezestudio-110857417280621" >
                <i class="fab fa-facebook-f fa-lg white-text mr-md-5 mr-3 fa-2x icono"> </i>
              </a>
          
              <a href="https://www.linkedin.com/in/milagros-pantale%C3%B3n-85976514b/">
                <i class="fab fa-linkedin-in fa-lg white-text mr-md-5 mr-3 fa-2x  icono"> </i>
              </a>
            </div>
            </div>
          
          </footer>
          
          
                  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
                  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
                  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
        
</body>
</html>